[submodule "zabbix"]
	path = zabbix
	url = git://github.com/laradji/zabbix.git
[submodule "ark"]
	path = ark
	url = git://github.com/burtlo/ark.git
[submodule "7-zip"]
	path = 7-zip
	url = git://github.com/sneal/7-zip.git
[submodule "windows"]
	path = windows
	url = git://github.com/opscode-cookbooks/windows.git
[submodule "chef_handler"]
	path = chef_handler
	url = git://github.com/opscode-cookbooks/chef_handler.git
[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "chocolatey"]
	path = chocolatey
	url = git://github.com/chocolatey/chocolatey-cookbook.git
[submodule "oracle-instantclient"]
	path = oracle-instantclient
	url = git://github.com/juliandunn/oracle-instantclient.git
[submodule "yum-epel"]
	path = yum-epel
	url = git://github.com/opscode-cookbooks/yum-epel.git
[submodule "database"]
	path = database
	url = git://github.com/opscode-cookbooks/database.git
[submodule "aws"]
	path = aws
	url = git://github.com/opscode-cookbooks/aws.git
[submodule "mysql-chef_gem"]
	path = mysql-chef_gem
	url = git://github.com/opscode-cookbooks/mysql-chef_gem.git
