[submodule "zabbix"]
	path = zabbix
	url = git://github.com/laradji/zabbix.git
[submodule "ark"]
	path = ark
	url = git://github.com/burtlo/ark.git
[submodule "7-zip"]
	path = 7-zip
	url = git://github.com/sneal/7-zip.git
